pdfminer.six>=20221105; python_version >= "3.8"
pdfminer.six<20220319; python_version < "3.8"
pikepdf
Pillow
importlib-metadata; python_version < "3.8"
# Pin cryptography to avoid Rust build on legacy systems (Py3.6)
cryptography<3.4; python_version < "3.8"
